@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 



body {
    background-color: rgb(255, 250, 250); 
}
.logo1{
    width: 8em;
    height: 3em;
}
header {
    display: grid;
    grid-template-columns: 80% 15em;
    justify-content: center; /* aqui alinhou no eixo x */
    align-items: center; /* aqui alinhou no eixo y */
    background-color: rgb(0, 0, 0);

    
}
a { 
    color: rgba(255, 255, 255, 0.816);
    text-decoration: none;
    margin-left: .3em;
    padding: .2em .3em .2em .3em;
    box-sizing: content-box;
    border-radius: 3em;
}


.navbar {
    font-size: 1.1em;
}
 .navbar a{
     color: rgba(255, 255, 255, 0.94);
     font-weight: bolder;
     font-family:monospace;
     font-size: 1.2em;
 }

 .logoHeader, .logoHeader {
     color: oldlace;
     font-weight: bolder;
     margin-left: .5em;
    
 }

.header {
    background-color: rgba(0, 0, 0, 0.87);
}

.header {
    background-color: black !important;
}


  
footer{
    width: 100%;
    height: 350px;
    background: rgb(31, 28, 28);
    text-align: center;
    color: white;


}
  
a, .p{
    
    color: white;
    font-size: 1.2rem;
}
  
li{
    text-align: right;
    list-style: none;
}

.fixed-bottom{
    height: 55px;
    padding-top: .7em;
    padding-bottom: 2em;
}

.container {
    margin-top: 8em;
    margin-bottom: 8em;
}

.icon-list {
    padding-left: 0;
    list-style: none;
  }
  .icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
  }
  .icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
  }

.sign-sin {
    width: 2em;
    height: 2em;
}