@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 



body {
    background-color: rgb(255, 250, 250); 
}

a { 
    color: rgba(255, 255, 255, 0.816);
    text-decoration: none;
    margin-left: .3em;
    padding: .2em .3em .2em .3em;
    box-sizing: content-box;
    border-radius: 3em;
}


.navbar {
    font-size: 1.1em;
}
.navbar a{
     color: rgba(255, 255, 255, 0.94);
     font-weight: bolder;
     font-family:monospace;
     font-size: 1.2em;
}
footer{
    background: rgb(31, 28, 28);
    text-align: center;
    color: white;
}
  
a, .p{
    
    color: white;
    font-size: 1.2rem;
}

.fixed-bottom{
    height: 3em;
    padding-top: .7em;
    padding-bottom: 2em;
}

.icon-list {
    padding-left: 0;
    list-style: none;
  }
  .icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
  }
  .icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
  }

.header-general {
    width: 100vw;
    
}
.dropdown-menu {
    background-color: rgba(15, 14, 14, 0.829);
    width: 30em;

}

.dropdown-item{
    text-align: left;
}

.container-main {
    margin-top: 4em;
    margin-bottom: 4em;
}
