html {
    overflow: auto;
    
}

img {
    width: 2.5em;
    height: 2.5em;
}
.boxAll {
    margin: 0 auto;
    padding: 0;

}
.container-main  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.admin {
    
    width: 5.5em;
    height: 5.5em;   
}
    
.sig {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: rgb(119, 119, 248);

}
.accounts {
    margin-left: .2em;
    margin-bottom: -.3em;
    
}


.sig:hover {
    background-color: rgb(119, 119, 248);
    color: white;

}

.for1 {
    background-color: #0e76a75d;
    border-radius: 4em 1em 4em 1em;
    width: 28em;
    height: 20em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.487) 5px 5px 20px -10px ;
    margin-top: 1em;
}
.for1 img{
    margin-bottom: -.5em;   
}

.formulario1{
    margin-top: 1.5em;
}

.formulario2{
    margin-top: 1.5em;
}

.textos {
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
   
}

.check{
    margin-left: 1em;
    width: 7em;
}

.forgot1 {
    margin-right: 1.5em;
}

.submits:hover{
    background-color: rgba(91, 91, 238, 0.72);
    color: white;
}


.forgot1:hover {
    background-color: rgba(113, 139, 245, 0.645);
    color: black;
}

input {
    background: none;
    border: none;
    border-bottom: black solid 2px;
    outline: none;
}

#active{
    margin-left: 3em;
    margin-right: -5.5em;
}

.submits {
    margin-top: 2em;
    border-radius: 2em;
    height: 3em;
    width: 10em;
    background-color: rgb(119, 119, 248);
    outline: none;
    border-bottom: none;      
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.391);
}

#svgForm {
    width: 2em;
    height: 2em;
    margin-bottom: -2em;

}
.svgPassword {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em !important;

}

.subContainer {
    text-align: center;
    padding-top: 1em;
}

.admin {
    margin-left: -2em;
    
}

body{
    background-color: #00c3ff5d;

}

.for-alt {
    height: 25em;
}

.cadastrar {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 10pt;
    margin-left: 2.5em;
    text-decoration: none;
    padding: 0.5em;
    
}
.cadastrar:hover {
    background-color: #189feeda;
    color: white;
    text-decoration: none;
    outline: none;
}

/*
@media (min-width: 990px) {
    .formulario {
        background-color: blueviolet;
    }
    
}

*/

.for-aqui {
    background-color: rgba(29, 135, 167, 0.822);
}
/*
@media (max-width: 990px) {
    .formulario {
    
    }
    .for-aqui {
        background-color: rgba(29, 135, 167, 0.822);
        width: 70%;
        height: 80%;
        margin: 0 auto;
        
    }
    .w-100 {
        width: 3em;
    }
    .navbar-collapse {
       
    }
    .fs-4 {
        font-size: 1em !important;
        
        width: 20em;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .display-4 {
        font-size: 2em;
    }
}
*/
/* APLICAR SE FOR ORIZOTAAL*/ 

/*
@media (orientation: landscape) {
    .formulario {
    
    }
    .for-aqui {
        background-color: rgba(29, 135, 167, 0.822);
        width: 70%;
        height: 80%;
        margin: 0 auto;
        
    }
    .w-100 {
        width: 3em;
    }
    .navbar-collapse {
       
    }
    .fs-4 {
        font-size: 1em !important;
        
        width: 20em;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .display-4 {
        font-size: 2em;
    }
}
*/
/* VAI APLICAR quando tiver no moto retrato */
@media (orientation: portrait) {
    .formulario {
        background-color: blue;
    
    }
    
}

@media (max-aspect-ratio:  2/1) {
    .formulario {
        background-color: rgb(183, 0, 255);
    
    }
    
}



/* X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px) 
@media (max-width: 1399.98px) { ... }