* {
    overflow: hidden;
    
}

img {
    width: 2.5em;
    height: 2.5em;
}
.boxAll {
    margin: 0 auto;
    padding: 0;

}
.containermain  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.admin {
    
    width: 5.5em;
    height: 5.5em;   
}
    
.sig {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: rgb(119, 119, 248);

}
.accounts {
    margin-left: .2em;
    margin-bottom: -.3em;
    
}


.sig:hover {
    background-color: rgb(119, 119, 248);
    color: white;

}

.for1 {
    background-color: #0e76a75d;
    border-radius: 4em 1em 4em 1em;
    width: 28em;
    height: 20em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.487) 5px 5px 20px -10px ;
    margin-top: 1em;
}
.for1 img{
    margin-bottom: -.5em;   
}

.formulario1{
    margin-top: 1.5em;
}

.formulario2{
    margin-top: 1.5em;
}

.textos {
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
   
}

.check{
    margin-left: 1em;
    width: 7em;
}

.forgot1 {
    margin-right: 1.5em;
}

.submits:hover{
    background-color: rgba(91, 91, 238, 0.72);
    color: white;
}


.forgot1:hover {
    background-color: rgba(113, 139, 245, 0.645);
    color: black;
}

input {
    background: none;
    border: none;
    border-bottom: black solid 2px;
    outline: none;
}

#active{
    margin-left: 3em;
    margin-right: -5.5em;
}

.submits {
    margin-top: 2em;
    border-radius: 2em;
    height: 3em;
    width: 10em;
    background-color: rgb(119, 119, 248);
    outline: none;
    border-bottom: none;      
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.391);
}

#svgForm {
    width: 2em;
    height: 2em;
    margin-bottom: -2em;

}
.svgPassword {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em !important;

}

.subContainer {
    text-align: center;
    padding-top: 1em;
}

.admin {
    margin-left: -2em;
    
}

body{
    background-color: #00c3ff5d;
}